body {
    padding-top: 50px;
}

@media screen and (min-width: 2401px) {
    body {
        max-width: 2400px;
    }
}

@media screen and (max-width: 768px) {
    /* source: http://getbootstrap.com/examples/carousel/carousel.css */
    .carousel {
      height: 300px;
    }
    .carousel-caption {
      z-index: 10;
    }
    .carousel .item {
      height: 300px;
      background-color: #777;
    }
    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 300px;
    }
}

.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
    position: absolute;
    top: 40%;
    display: inline-block;
    font-size: 30px;
}

@media screen and (max-width: 992px) {
    .carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
        top: 10%;
    }
}

a.right, a.left {
    z-index: 99;
}

.carousel-caption {
    background-color:rgba(204,0,0,0.8);
    left: 20%;
    right: 0;
    z-index:1;
    padding-right:5%;
    text-align: right;
}

img.photo {
    width: 100px;
    height:100px;
}

div.spacer {
    margin: 10px 0;
}

div.logo {
    width:200px;
    height:100px;
}

div.footer {
    background-color: rgb(204, 0, 0);
    color:white;
}

div.footer a, div.footer a:hover {
    color:white;
}

.navbar-brand {
    text-align: center;
    vertical-align: middle;
    padding: 8px 15px;
}
.navbar-brand>span {
    font-size: 60%;
}